<div class="menu">
  <nav class="menu-content">
    <a href="about">About</a>
    <a href="blog">Blog</a>
    <a href="https://groups.google.com/g/french-ml-reading-group" target="_blank">Google Group</a>
    <a href="https://www.youtube.com/channel/UCZcMzO2biwDYONMYtjjNSfg" target="_blank">Recordings</a>
    <a href="https://docs.google.com/spreadsheets/d/1Yq6lRq_R_boqu3VT_vGnljl39gbqd3549L6Jxkylyqo/edit?usp=sharing" target="_blank">Schedule</a>
    <a href="contribute">Contribute</a>
    <a href="contact">Contact</a>
  </nav>
  <nav class="social-icons">
    {% include social-icons.html %}
  </nav>
</div>
